<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVw4rx4HwuQYLyJKb2zAppqyP19_fkNo4</string>
	<key>GCM_SENDER_ID</key>
	<string>855212656311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tnt.sunnf14m</string>
	<key>PROJECT_ID</key>
	<string>app240-2d1b6</string>
	<key>STORAGE_BUCKET</key>
	<string>app240-2d1b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855212656311:ios:232ff782463884303def32</string>
</dict>
</plist>